<!DOCTYPE html>
<html>
<head>
    <title>Matt Jones</title>
    <!--bootstrapp css-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <!--vizuly css-->
    <link rel="stylesheet" href="stylesheets/vizuly.css">
    <link rel="stylesheet" href="stylesheets/vizuly_radial_progress.css">
    <!--custom css-->
    <link rel="stylesheet" href="stylesheets/main.css">
    <!--<script type="text/javascript" src="../../node_modules/chart.js/dist/Chart.min.js"></script>-->
    <!--D3.js-->
    <script src="lib/d3.min.js"></script>
</head>
<body>
    <!--<div class="container">-->
    <!--    <h1 class="text-center">Matt Jones</h1>-->
    <!--    <div class="row">-->
    <!--        <div class="col-lg-4 col-sm-12">-->
    <!--            <canvas id="htmlChart" width="400" height="400"></canvas>-->
    <!--        </div>-->
    <!--        <div class="col-lg-4 col-sm-12">-->
    <!--            <canvas id="cssChart" width="400" height="400"></canvas>-->
    <!--        </div>-->
    <!--        <div class="col-lg-4 col-sm-12">-->
    <!--            <canvas id="jsChart" width="400" height="400"></canvas>-->
    <!--        </div>-->
    <!--    </div>-->
    <!--</div>-->
    
    

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.min.js"></script>
    <script type="text/javascript" src="js/knowledge.js"></script>
</body>
</html>