/*RADIAL PROGRESS BARS BEGIN*/
.container-fluid {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    text-align: center;
}

.html-progress .css-progress .js-progress .node-progress .express-progress .mongo-progress{
    max-width: 100px;
    height: 100%;
    background-color: transparent;
    margin: 20px auto;
    margin-top: 50px;
    text-align: center;
    font-size: 35px;
}

.html-progress > svg {
    display: block;
    max-width: 150px;
    margin: 0 auto;
}

.css-progress > svg {
    display: block;
    max-width: 150px;
    margin: 0 auto;
}

.js-progress > svg {
    display: block;
    max-width: 150px;
    margin: 0 auto;
}

.node-progress > svg {
    display: block;
    max-width: 150px;
    margin: 0 auto;
}

.express-progress > svg {
    display: block;
    max-width: 150px;
    margin: 0 auto;
}

.mongo-progress > svg {
    display: block;
    max-width: 150px;
    margin: 0 auto;
}

/*RADIAL PROGRESS BARS END*/

body {
    background-color: transparent;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 35px;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    padding-bottom: 50px;
}

.logo {
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.navbar-brand {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 35px;
    margin: 0 auto;
    text-align: center;
}



#center {
    text-align: center;
    margin: 0 auto;
}



.navbar-toggler {
  margin-top: 15px;
  float: right;
}

.skills {
    /*background-color: #f9f9f9;*/
    /*padding-left: 50px;*/
    /*padding-right: 50px;*/
    padding-top: 100px;
}

.background {
    text-align: left;
    padding-top: 100px;
}
.skill-font {
    font-size: 30px;
}

.form {
    padding-bottom: 150px;
    padding-top: 100px;
}